@using Elite_Hotel.Controllers
@model ViewModel

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                <div class="card mb-3">
                    <img class="card-img img-fluid" src="@Model.Categories[0].ImageUrl" alt="Card image cap" id="product-detail">
                </div>
                <div class="row">
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="prev">
                            <i class="text-dark fas fa-chevron-left"></i>
                            <span class="sr-only">Previous</span>
                        </a>
                    </div>
                    <!--End Controls-->
                    <!--Start Carousel Wrapper-->
                    <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                        <!--Start Slides-->
                        <div class="carousel-inner product-links-wap" role="listbox">

                            <!--First slide-->
                            <div class="carousel-item active">
                                <div class="row">
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/images/categories/51e6382d-92d0-4cdb-a3e9-850a190393bf.jpg" alt="Product Image 1">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/images/categories/5865420d-a122-4bf6-bb0c-d9fc0987afc5.jpg" alt="Product Image 2">
                                        </a>
                                    </div>
                                    <div class="col-4">
                                        <a href="#">
                                            <img class="card-img img-fluid" src="/images/categories/27894c22-b222-49bf-adf1-a2a526314fb3.jpg" alt="Product Image 3">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--/.First slide-->

                        </div>
                        <!--End Slides-->
                    </div>
                    <!--End Carousel Wrapper-->
                    <!--Start Controls-->
                    <div class="col-1 align-self-center">
                        <a href="#multi-item-example" role="button" data-bs-slide="next">
                            <i class="text-dark fas fa-chevron-right"></i>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                    <!--End Controls-->
                </div>
            </div>
            <!-- col end -->
            <div class="col-lg-7 mt-5">
                <div class="card">
                    <div class="card-body">
                        <h1 class="h2">
                            @Model.Categories[0].Name</h>
                            <p class="h3 py-2">@Model.Categories[0].PricePerNight $</p>

                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Capacity:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>@Model.Categories[0].MaxCap</strong></p>
                                </li>
                            </ul>



                            <h6>Service:</h6>
                            @foreach (var ser in Model.Servicecats)
                            {
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="ser.Id" name="@ser.Name" value="@ser.Name" checked>
                                    <label class="form-check-label">@ser.Name</label>
                                </div>
                            }
                           


                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <div class="btn btn-success btn-lg"><a class="nav-link" style="color:black" href="~/Reservations/Create">Reservation Now</a> </div>
                                    </div>
                                </div>

</div>
            </div>
        </div>
    </div>
</div>
</section>
