@model Hotel
@inject Elite.Models.LanguageService language

@{
    ViewData["Title"] = "Hotel";
}

@section Styls{
    <link rel="stylesheet" href="~/assets/vendors/toastify/toastify.css">

    <link rel="stylesheet" href="~/assets/vendors/jquery-datatables/jquery.dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="~/assets/vendors/fontawesome/all.min.css">
    <style>
        table.dataTable td {
            padding: 15px 8px;
        }

        .fontawesome-icons .the-icon svg {
            font-size: 24px;
        }
    </style>

}

<section class="section">
    <div class="card">
        <div class="card-header">
            <a class="btn btn-primary rounded-pill" asp-action="Upsert">@language.Getkey("Create New")</a>
        </div>
        <div class="card-body">
            <table class="table" id="tblData">
                <thead>
                    <tr>
                        <th>
                            @language.Getkey(@Html.DisplayNameFor(model => model.Name))
                        </th>
                        <th>
                            @language.Getkey(@Html.DisplayNameFor(model => model.City))
                        </th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</section>

<div id=popup>
    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <img src="~/images/categories/no_preview.png" class="card-img-top img-fluid" id="image_popup"
                 alt="singleminded">

            <div class="modal-content">
                <div class="card">
                    <div class="card-content">

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">

                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-4 col-3">
                                                @language.Getkey(@Html.DisplayNameFor(model => model.Name))
                                            </div>
                                            <div class="col-lg-8 col-9">
                                                <input value="undefiend" class="form-control" id="name_popup" disabled>
                                            </div>
                                        </div>

                                        <div class="form-group row align-items-center">
                                            <div class="col-lg-4 col-3">
                                                @language.Getkey(@Html.DisplayNameFor(model => model.City))
                                            </div>
                                            <div class="col-lg-8 col-9">
                                                <input value="0" class="form-control" id="city_popup" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal">
                        <i class="bx bx-x d-block d-sm-none"></i>
                        <span class="d-none d-sm-block">Close</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{

    <script src="~/assets/vendors/jquery/jquery.min.js"></script>
    <script src="~/assets/vendors/jquery-datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/vendors/jquery-datatables/custom.jquery.dataTables.bootstrap5.min.js"></script>

    <script src="~/js/hotel.js"></script>
}